#add-group-form input{
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgray;
    width: 33.3%;
}
#add-group-form select{
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgray;
    width: 33.3%;
}
#add-group-form label{
    width: 66.7%;
}
#add-group-form input:focus{
    outline: 5px solid rgba(99, 99, 248, 0.486);
}

#add-group-form section:focus{
    outline: 5px solid rgba(99, 99, 248, 0.486);
}
#add-group-form{
    margin: 50px;
    padding: 10px;
}
